::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(255, 255, 255);
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgb(255, 255, 255);
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: rgb(255, 255, 255);
  }
.album-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.search{
    width: 50%;
    height: 37px;
    text-align: center;
    font-size: 1.1em;
    border: 1px solid #ffffff;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.3);
}

#search-button{
    height: 40px;
    width: 92px;
    margin-left: 5px;
    border: 1px solid #fff;
    background-color: rgba(0, 0, 0, -0.77);
    color: #ffffff;
    font-size: 18px;
    font-weight: 100;
}
#search-button:hover{
    cursor: pointer;
}
.searchWrap{
    padding: 20px;
    background-color: #abe9cd;
background-image: linear-gradient(315deg, #abe9cd 0%, #3eadcf 74%);

}
.no-content{
    width: 100%;
    height: 100%;
    font-size: 3em;
    margin-top: 4em;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */